<h1><small>Contact</small> El Chico Timo</h1>

<div class="row">
  <div class="col-sm-6">
    <div class="card card-block">
      <addresss>
        <p><strong>El Chico Timo</strong>
        <br>123 Nguyen Ngoc Phuong
        <br>Phuong 19
        <br>Quan Binh Thanh
        <br>Ho Chi Minh
        <br>Vietnam</p>
        <p><strong>Phone:</strong> +84 123.456.7890
        <br><strong>Fax:</strong> +84 098.765.4321</p>
      </address>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="google-maps">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.277253506786!2d106.70591321461445!3d10.790064392312287!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x317528b31177ea87%3A0xd7cbee887e0ac34!2zTmd1eeG7hW4gTmfhu41jIFBoxrDGoW5nLCBwaMaw4budbmcgMTksIELDrG5oIFRo4bqhbmgsIEjhu5MgQ2jDrSBNaW5oLCBWaWV0bmFt!5e0!3m2!1sen!2ssg!4v1487402679432" width="100%" height="auto" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>
