
// Make Google Map Responsive
.google-maps {
  position: relative;
  padding-bottom: 75%; // This is the aspect ratio
  height: 0;
  overflow: hidden;
}
.google-maps iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}

// Menu Styles

img.menu-image {
  max-width: 100%;
  height: auto;
}
table img.menu-image {
  max-width: 100px;
}

.form-inline {
  float: right;
  label {
    margin: 0 15px;
  }
  input[type="submit"] {
    margin-left: 15px;
  }
}
